.App {
  width: 80%;
  margin: auto;
  position: relative;
}
.inputdata{
  position: relative;
  display: flex;
  flex-direction: column;
}
.inputdata input{
  margin: 10px 0;
  font-size: 16px;
  pad: 6px;
}
.inputdata .btns {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data{
  position: relative;
  width: 100%;
}
.data h1 {
  text-align: center;
}
.datadiv{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.datadiv div{
  position: relative;
  padding: 10px;
  border-radius: 6px;
  width: 340px;
  border: 1px solid #ccc;
  margin: 15px;
}